.title {
    font-size: 80px;
    font-family: 'Sacramento', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#task-output {
    margin-right: -15px;
}

#task-result {
    margin-top: 10px;
}

#task {
    max-width: 10px;
}