.jumbotron {
    background-image: url("./image/header.jpg");
    background-size: cover;
    margin-bottom: 60px;
    height: 170px;
}

.text-center {
    color: cornsilk;
}

#current-date {
    color: cornsilk;
}

.high {
    background-color: tomato;
    color: cornsilk;
}

.medium {
    background-color: yellow;
    color: purple;
}

.low {
    background-color: green;
    color: cornsilk;
}

.completed {
    text-decoration: line-through;
}